<div class="subtemplate-wrapper">
  <div class="title" {{action 'select' model target=targetObject}}>{{title}}</div>
  <div class="actions-wrapper">
    <i role="button" class="fa fa-minus-circle del" {{action 'delete' model target=targetObject}}></i>
  </div>
  {{#each model.fields as |field|}}
    {{form-field-display model=field targetObject=this}}
  {{/each}}
</div>
