<label><input type="radio" name="locale" value='en-us' {{action 'selectLocale' 'en-us' on="change"}} checked={{isEnus}}> en-us</label>
<label><input type="radio" name="locale" value='zh-cn' {{action 'selectLocale' 'zh-cn' on="change"}} checked={{isZhcn}}> zh-cn</label>
